.DS_STORE
.idea
.vscode
*.log
*.tsbuildinfo
/.eslintcache
/.nyc_output
/benchmark/**/dist
/coverage
/docs/.env.local
/docs/.next
/docs/export
/examples/**/.cache
/tmp
build
node_modules
package-lock.json
size-snapshot.json

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
dist